<h1>Access Points</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>MAC</th>
      <th>Serial</th>
      <th>Network ID</th>
      <th>Model</th>
    </tr>
  </thead>
  <tbody>
    <% @access_points.each do |ap| %>
      <tr>
        <td><%= ap['name'] %></td>
        <td><%= ap['mac'] %></td>
        <td><%= ap['serial'] %></td>
        <td><%= ap['network_id'] %></td>
        <td><%= ap['model'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
